@model IEnumerable<TasksGroup>
@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="page-content">
        @foreach (TasksGroup group in Model)
        {
            if (group.createdAt.Value.Date != ViewBag.LastDate)
            {
                <p>@group.createdAt.Value.ToString("dd MM yyyy")</p>
            }
            <div class="card" style="background-color: @group.selectedColor">
                <a asp-controller="Home"
                   asp-action="SubTasks"
                   asp-route-groupId="@group.GroupId"
                   class="Title">
                    @group.groupTitle
                </a>
                <button class="delete-btn"><a asp-controller="Home" asp-action="DeleteGroup" asp-route-groupId="@group.GroupId">x</a></button>
                <button class="edit-btn"><a asp-controller="home" asp-action="EditGroup" asp-route-groupId="@group.GroupId"><i class="fas fa-edit fa-2xs"></i></a></button>
            </div>
            ViewBag.LastDate = group.createdAt.Value.Date;
        }
    </div>
    <button class="create-btn"><a asp-controller="Home" asp-action="addGroup">+</a></button>
</div>

<script>
    function navigateToTasks(groupId)
    {
        window.location.href = 'groups/tasks?groupId=' + groupId;
    }
</script>